<h1>YOUR CHARACTERS</h1>


<table class="table">
<tr>
<th>Name</th>
<th>Description</th>
<th>Campaign</th>
<th>Details</th>
</tr>

<%@characters.order(:name).each do |character|%>
<tr>
    <td><%= character.name %></td>
    <td><%= character.description%></td>
    <td><%= link_to character.campaign.title, campaigns_path%></td>
    <td><%= link_to "View #{character.name}", character_path(character)%></td>
</tr>
<%end%>
</table>
