<h1>YOUR CHARACTERS</h1>

<table class="table">
<tr>
<th>Name</th>
<th>Description</th>
<th>Campaign</th>
<th><i class="material-icons" style="font-size:25px;color:red">mode_edit</i>Edit</th>
</tr>

<%@characters.order(:name).each do |character|%>
<tr>
    <td><%= link_to character.name, character_path(character) %></td>
    <td><%= character.description%></td>
    <%if !character.campaign.blank?%>
    <td><%= link_to character.campaign.title, campaign_path(character.campaign)%></td>
    <%else%>
    <td>N/A</td>
    <%end%>
    <td><%= link_to "Update/Delete #{character.name}", edit_character_path(character)%></td>
</tr>
<%end%>
</table>
