<div class="header">
<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
</div>


<div class="topnav">
  <a href="#">Link For Character</a>
  <a href="#">Link For Games</a>
  <a href="#">Link For Find a GM</a>
</div>


