<h1>CAMPAIGNS</h1>

<table class="table">
<tr>
<th>Campaign Title</th>
<th>Adventure Path</th>
<th>Characters</th>
<th>Starships</th>
<th><i class="material-icons" style="font-size:25px;color:red">mode_edit</i>Edit</th>
<th>Looking For Players</th>
</tr>

<%= render 'campaign_table'%>

</table>