// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type="checkbox"] {
    zoom: 2;
    display: inline-flex;
    cursor: pointer;
    position: relative;
}


