// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signup_link {
    font-size: larger;
    font-weight: bold;
}

input[type=password], select {
    width: 25%;
    padding: 10px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .alert {
    color: orangered;
  }