// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  background-color: #003b59;
  text-align: center;
  color: #FF652F;
}

a {
  text-decoration: none;
  color: #FF652F;
}

/* Style the header */
.header {
  background-color: #003b59;
  padding: 0px;
  text-align: center;
  font-family: OCR A Std, monospace;
  color: #e25822;
  padding-top: 10px;
}

.header a.left{
  float: left;
}

img {
  border-radius: 20%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #5AB9EA;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: large;
  font-family: OCR A Std, monospace;

}

.topnav a.right {
  float: right;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #0074E1;
  color: #FF652F;
}

Div.container {
  text-align: center;
  padding: 358px;
  color: white;
  background-image: url('/starfinder_ship.jpg');
}
  


 


