// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #1D2951;
  text-align: center;
  color: #d7dbdd;
  font-family: OCR A Std, monospace;
  
}

a {
  text-decoration: none;
  color: #FF652F;
}

a:hover {
  color: whitesmoke;
}

/* Style the header */
.header {
  background-color: #1D2951;
  padding: 30px;
  text-align: center;
  font-family: OCR A Std, monospace;
  color: #e25822;
  
}

img {
  border-radius: 20%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #414a4c;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  font-family: OCR A Std, monospace;

}

.topnav a.right {
  float: right;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #0c164f;
  color: #FF652F;
}

Div.container {
  text-align: center;
  padding: 300px;
  margin-top: 20px;
  color: white;
  background-image: url('/starfinder_ship.jpg');
}

.footer {
  padding: 20px;
  text-align: center;
  background: #414a4c;
  margin-top: 20px;
}

.footer a.left {
  float: left;
}

.footer a.right {
  float: right;
}




  


 


