<h1>STARSHIPS</h1>

<table class="table">
<tr>
<th>Name</th>
<th>Tier</th>
</tr>


<%@starships.each do |starship|%>
<tr>
    <td><%=starship.name%></td>
    <td><%= starship.tier%></td>
</tr>
<%end%>
</table>



