<h1>STARSHIPS</h1>

<table class="table">
<tr>
<th>Name</th>
<th>Tier</th>
<th>Campaign</th>
<th><i class="material-icons" style="font-size:25px;color:red">mode_edit</i>Edit</th>
</tr>


<%starship_order.each do |starship|%>
<tr>
    <td><%=starship.name%></td>
    <td><%= starship.tier%></td>
    <td><%= link_to "#{starship.campaign.title}", campaign_path(starship.campaign)%>
    <% if current_user.id == starship.campaign.user_id%>
    <td><%= link_to "Update/Delete", edit_starship_path(starship)%></td>
    <%else%>
    <td>N/A</td>
    <%end%>
</tr>
<%end%>
</table>



